{% extends "layout.html" %}
{% block title %}Movie App{% endblock %}

{{ super() }}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <h2>{{ message }}</h2>
        {% endfor %}
    {% endif %}
{% endwith %}
      <div class="container">
        <div class="jumbotron">
            <div class="SearchBar">
                <div class="input-group">
                    <input type="text" id="Search" class="form-control" placeholder="Search this blog">
                    <div class="input-group-append">
                        <button onclick="getData()" class="btn btn-secondary" type="button">
                            Search
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div id="movies" class="row">

        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}