{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf%}

{% block title %}Login{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='styles.css')}}">
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <h5>{{ message }}</h5>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="row justify-content-md-center">
            <form class="col-md-4" method="POST" action="/login">
                <h2 class="form-signin-heading">Please sign in</h2>
                {{ form.hidden_tag() }}
                {{ wtf.form_field(form.username) }}
                {{ wtf.form_field(form.password) }}
                <button class="btn btn-primary" type="submit">Login</button>    
            </form>
        </div>
    </div> <!-- /container -->
{% endblock %}